<div class="container">
  <div class="row">
    <div class="col-md-3 mt-5">
      <%= attachment_image_tag @user, :profile_image, format: "jpeg", fallback: "no_image.jpg", size: "100x100" %>
      <table class="table">
        <tbody>
          <tr>
            <th>ニックネーム</th>
            <th><%= @user.nickname %></th>
          </tr>
          <tr>
            <th>フォロー</th>
            <th><%= link_to @user.followings.count, user_followings_path(@user.id) %></th>
          </tr><tr>
            <th>フォロワー</th>
            <th><%= link_to @user.followers.count, user_followers_path(@user.id) %></th>
          </tr>
        </tbody>
      </table>
      <div class="row">
        <%= render "users/relationships/info", user: @user %>
      </div>
      <div class="row">
        <div class="col-6">
          <%= link_to "編集", edit_user_path(@user.id) %>
        </div>
        <div class="col-6">
          <%= link_to "退会", user_users_unsubscribe_path(@user.id) %>
        </div>
      </div>
    </div>
    <div class="col-md-8 offset-md-1 mt-5">
      <h2><%= @user.nickname %>の投稿</h2>
      <div class="row">
        <% @posts.each do |post| %>
          <div class="col-4">
            <%= link_to post_path(post.id) do %>
              <%= attachment_image_tag post, :image, format: "jpeg", fallback: "no_image.jpg", size: "200x200" %>
            <% end %>
            <div class="row">
            <% if post.liked_by?(current_user) %>
              <%= link_to post_likes_path(post), method: :delete do %>
                <i class="fa fa-heart fa-xs" aria-hidden="true"  style="color: red;">
                  <%= post.likes.count %>
                </i>
              <% end %>
            <% else %>
              <%= link_to post_likes_path(post), method: :post do %>
                <i class="fa fa-heart fa-xs" aria-hidden="true">
                  <%= post.likes.count %>
                </i>
              <% end %>
            </div>
            <% end %>
          </div>
        <% end %>
      </div>
      <div class="row justify-content-center">
        <%= paginate @posts %>
      </div>
    </div>
  </div>
</div>